<!DOCTYPE html>
<html>
<head>
    <title>ResEst Manager - Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>ResEst Manager</h1>
        <div class="menu">
            <ul>
                <li><a href="{% url 'listar_apartamentos' %}">Listar Apartamentos</a></li>
                <li><a href="{% url 'add_becado' %}">Listar Becados</a></li>
                <li><a href="{% url 'list_residencias' %}">Listar Residencias</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="left-section">
            <img src="{% static 'images/Leonardo_Phoenix 1 logo.jpg' %}" alt="Imagen">
        </div>
        <div class="right-section">
            <h2>Bienvenido a ResEst Manager</h2>
            <div class="description">
                <p>Gestiona tu residencia estudiantil de manera eficiente y sencilla.</p>
                <p>Explora las funcionalidades y descubre cómo podemos ayudarte a mantener todo en orden.</p>
            </div>
            <ol class="features-list">
                <li>
                    <img src="{% static 'images/feature1.jpg' %}" alt="">
                    <p>Organiza tus apartamentos y becados con facilidad.</p>
                </li>
                <li>
                    <img src="{% static 'images/feature2.jpg' %}" alt="">
                    <p>Accede a información detallada y actualizada en todo momento.</p>
                </li>
                <li>
                    <img src="{% static 'images/feature3.jpg' %}" alt="">
                    <p>Disfruta de una interfaz intuitiva y amigable.</p>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>
