<!DOCTYPE html>
<html>
<head>
    <title>Lista de Residencias - Residencia Estudiantil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_residencias.css' %}">
</head>
<body>
    <h2 class="titulo">Listado de Residencias</h2>
    <table class="tabla_residencia">
        <thead>
            <tr>
                <th class="columnas">Nombre</th>
                <th class="columnas">Cantidad de Apartamentos</th>
                <th class="columnas">Jefe del Consejo</th>
                <th class="columnas">Profesor que Atiende</th>
                <th class="columnas">Estudiantes Cubanos</th>
                <th class="columnas">Estudiantes Extranjeros</th>
                <th class="columnas">Evaluación</th>
                <th class="columnas">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for data in residencias %}
            <tr>
                <td class="filas">{{ data.residencia.nombre }}</td>
                <td class="numericos">{{ data.residencia.cantidad_apartamentos }}</td>
                <td class="filas">{{ data.residencia.jefe_consejo }}</td>
                <td class="filas">{{ data.residencia.profesor_atiende }}</td>
                <td class="numericos">{{ data.cubanos }}</td>
                <td class="numericos">{{ data.extranjeros }}</td>
                <td class="filas">{{ data.evaluacion }}</td>
                <td class="filas">
                    <button class="editResidenciaBtn" data-id="{{ data.residencia.id }}">Editar</button>
                    <button class="deleteResidenciaBtn" data-id="{{ data.residencia.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button class="agregar" id="addResidenciaBtn">Agregar Nueva Residencia</button>

    <!-- Modal -->
    <div id="addResidenciaModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Agregar Nueva Residencia</h2>
            <form method="POST" id="residenciaForm">
                {% csrf_token %}
                <input type="hidden" id="residenciaId" name="residencia_id">
                {{ form.as_p }}
                <button type="submit" id="submitBtn">Agregar Residencia</button>
            </form>
        </div>
    </div>
    
    <a class="inicio" href="{% url 'home' %}">Volver al Inicio</a>

    <script src="{% static 'js/list_residencias.js' %}"></script>
</body>
</html>
