<!DOCTYPE html>
<html>
<head>
    <title>Listar Apartamentos - Residencia Estudiantil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_apartamentos.css' %}">
</head>
<body>
    <h2 class="titulo">Listado de Apartamentos</h2>

    <!-- Filter Form -->
    <form method="GET" action="{% url 'listar_apartamentos' %}">
        <label class="filtros" for="evaluation_filter">Filtrar por Evaluación:</label>
        <select class="campo" name="evaluation_filter" id="evaluation_filter">
            <option value="all" {% if evaluation_filter == 'all' %}selected{% endif %}>Todos</option>
            <option value="Excelente" {% if evaluation_filter == 'Excelente' %}selected{% endif %}>Excelente</option>
            <option value="Bien" {% if evaluation_filter == 'Bien' %}selected{% endif %}>Bien</option>
            <option value="Regular" {% if evaluation_filter == 'Regular' %}selected{% endif %}>Regular</option>
            <option value="Mal" {% if evaluation_filter == 'Mal' %}selected{% endif %}>Mal</option>
        </select>
        <label class="filtros" for="mal_filter">Más de 2 estudiantes evaluados de Mal:</label>
        <input class="campo" type="checkbox" name="mal_filter" id="mal_filter" {% if mal_filter == 'on' %}checked{% endif %}>
        <button type="submit">Filtrar</button>
        <span class="filtros">Resultados: {{ count }}</span>
    </form>

    <table class="tabla_apartamento" >
        <thead>
            <tr>
                <th class="columnas">Residencia</th>
                <th class="columnas">Número</th>
                <th class="columnas">Cantidad de Becados</th>
                <th class="columnas">Capacidad</th> <!-- Nuevo campo -->
                <th class="columnas">Jefe del Apartamento</th>
                <th class="columnas">Profesor que Atiende</th>
                <th class="columnas">Evaluación</th>
                <th class="columnas">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for apartamento in apartamentos %}
            <tr>
                <td class="filas">{{ apartamento.residencia.nombre }}</td>
                <td class="numeric_1">{{ apartamento.numero }}</td>
                <td class="numericos">{{ apartamento.cantidad_becados }}</td>
                <td class="numeric_2">{{ apartamento.capacidad }}</td> <!-- Nuevo campo -->
                <td class="filas">{{ apartamento.jefe_apto }}</td>
                <td class="filas">{{ apartamento.profesor_atiende }}</td>
                <td class="filas">{{ apartamento.get_evaluacion_apto }}</td>
                <td class="filas">
                    <button class="editApartamentoBtn" data-id="{{ apartamento.id }}">Editar</button>
                    <button class="deleteApartamentoBtn" data-id="{{ apartamento.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button class="agregar" id="addApartamentoBtn">Agregar Nuevo Apartamento</button>

    <!-- Modal -->
    <div id="addApartamentoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Agregar Nuevo Apartamento</h2>
            <form method="POST" id="apartamentoForm">
                {% csrf_token %}
                <input type="hidden" id="apartamentoId" name="apartamento_id">
                {{ form.as_p }}
                <button type="submit" id="submitBtn">Agregar Apartamento</button>
            </form>
        </div>
    </div>
    
    <a class="inicio" href="{% url 'home' %}">Volver al Inicio</a>

    <script src="{% static 'js/listar_apartamentos.js' %}"></script>
    <script>
        // Mostrar alert si hay mensajes de error
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    alert("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
