<!DOCTYPE html>
<html>
<head>
    <title>Listar Apartamentos - Residencia Estudiantil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
</head>
<body>
    <h2>Listar Apartamentos</h2>
    <table>
        <thead>
            <tr>
                <th>Residencia</th>
                <th>Número</th>
                <th>Cantidad de Becados</th>
                <th>Jefe del Apartamento</th>
                <th>Profesor que Atiende</th>
                <th>Evaluación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for apartamento in apartamentos %}
            <tr>
                <td>{{ apartamento.residencia.nombre }}</td>
                <td>{{ apartamento.numero }}</td>
                <td>{{ apartamento.cantidad_becados }}</td>
                <td>{{ apartamento.jefe_apto }}</td>
                <td>{{ apartamento.profesor_atiende }}</td>
                <td>{{ apartamento.get_evaluacion_apto }}</td>
                <td>
                    <button class="editApartamentoBtn" data-id="{{ apartamento.id }}">Editar</button>
                    <button class="deleteApartamentoBtn" data-id="{{ apartamento.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button id="addApartamentoBtn">Agregar Nuevo Apartamento</button>

    <!-- Modal -->
    <div id="addApartamentoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Agregar Nuevo Apartamento</h2>
            <form method="POST" id="apartamentoForm">
                {% csrf_token %}
                <input type="hidden" id="apartamentoId" name="apartamento_id">
                {{ form.as_p }}
                <button type="submit" id="submitBtn">Agregar Apartamento</button>
            </form>
        </div>
    </div>
    
    <a href="{% url 'home' %}">Volver al Inicio</a>

    <script src="{% static 'js/listar_apartamentos.js' %}"></script>
</body>
</html>
